<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% block links %}{% endblock links %}
	<title>{% block title %}{% endblock title%}</title>
</head>
<body>
	<header>
		<a href="http://127.0.0.1:8000/" id="site_name_link"><p id="site_name">my-market.net</p></a>
		{% block header %}
		{% endblock header %}
	</header>
	<div id="container">
		<main>
			{% block main %}
			{% endblock main %}
		</main>
	</div>
	<footer>
		{% block footer %}
		{% endblock footer %}
	</footer>
</body>
</html>