{% extends 'base.html' %}
{% load static %}


{% block links %}
	<link rel="stylesheet" href="{% static 'css/product_page_style.css' %}">
{% endblock links %}


{% block title %}
	Product Page
{% endblock title%}


{% block header %}
	<a href="#" id="profile"><p>Войти</p></a>
{% endblock header %}


{% block main %}
	<a href="#" id="back"><<== Back</a>
	<div id="product">
		<div class="productdescription name"><p>{{ product.product_name }}</p></div>
		<div class="productdescription long_description"><p>{{ product.long_description }}</p></div>
		<div class="productdescription price"><p>{{ product.price }}$</p></div>
	</div>
{% endblock main %}


{% block footer %}
{% endblock footer %}